:root {
    --bg-color: #EFF1F8;
    --accent: #17F99A;
    --text-color: #7783BC;
    --overlay-bg: #E0E2F1;
    --font-heading: "Syne", serif;
    --font-body: "Sora", serif;
    --radius: 10px;
    --modal-width: 700px;
    --modal-height: 500px;
  }

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    font-family: var(--font-heading);
	background-color: var(--bg-color);
	text-align: center;
	margin: 0;
	padding: 0;
}

/* Header styling */
header {
    padding-top: 240px;

    /* 3D elements positioning */
    position: relative;  /* Needed for absolute positioning of elements inside */
    height: 820px;  /* Adjust based on image height */
    overflow: hidden;
}
#header-container {
    /* 3D elements positioning */
    position: relative;
    text-align: center;
    z-index: 10; /* Ensure text stays on top */
}
header h1 {
	font-size: 6em;
	line-height: 0.8;
	font-weight: 800;
	font-family: var(--font-heading);
    color: #000;
    margin-bottom: 240px;

    /* 3D elements positioning */
    position: relative;
    z-index: 10;
}
header p {
	font-size: 1.2em;
	margin-top: 10px;
    font-family: var(--font-heading);

    /* 3D elements positioning */
    position: relative;
    z-index: 10;
}
#signifier {
    color: var(--text-color);
}
/* 3D elements positioning */
#header-container img {
    position: absolute;
    width: auto;
    height: auto;
}

/* Purple */
#purple {
    width: 40%;
    top: -180px;
    left: -60px;
    z-index: 1;
    transform: scale(2.6) rotate(10deg);
    /* animation: floatPurple 6s ease-in-out infinite;
    animation-delay: 0s; */
}

/* Pink */
#pink {
    width: 15%;
    bottom: -200px;
    left: 0px;
    z-index: 2;
    transform: scale(0.8);
    animation: floatPink 6s ease-in-out infinite;
    animation-delay: 1s;
}

@keyframes floatPink {
    0%, 100% {
        transform: scale(0.8) translateY(0);
    }
    50% {
        transform: scale(0.8) translateY(-20px);
    }
}

/* Silver */
#silver {
    width: 30%;
    top: -420px;
    right: -50px;
    z-index: 3;
    transform: scale(1.6) rotate(38deg);
    animation: floatSilver 6s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes floatSilver {
    0%, 100% {
        transform: scale(1.6) rotate(38deg) translateY(0);
    }
    50% {
        transform: scale(1.6) rotate(38deg) translateY(-20px);
    }
}

/* Star */
#star {
    width: 8%;
    top: 100px;
    right: 10px;
    z-index: 20;
    transform: scale(0.6);
    animation: floatStar 6s ease-in-out infinite;
    animation-delay: 3s;
}

@keyframes floatStar {
    0%, 100% {
        transform: scale(0.6) translateY(0);
    }
    50% {
        transform: scale(0.6) translateY(-20px);
    }
}

/* Overview styling */
#overview {
	margin-top: 200px;
    margin-bottom: 200px;
    /* 3D elements positioning */
    position: relative;
    /* z-index: 10; */
    /* overflow: hidden; */
}
#overview-container {
    /* 3D elements positioning */
    position: relative;
    z-index: 10;
    contain: layout;
}
#overview h2 {
	font-size: 1.2em;
    margin-bottom: 20px;
    z-index: 20; 
    position: relative;
}
#overview h3 {
	font-size: 3em;
    font-family: var(--font-body);
    width: 60vw;
    margin: 0 auto;
    line-height: 1;
    z-index: 20; 
    position: relative;
}
/* 3D elements positioning */
#second {
    position: absolute;
    width: auto;
    height: auto;
    top: 160px;
    left: 50px;
    z-index: 1;
    transform: scale(5);
}
/* #circle {
    position: absolute; 
    top: -260px;
    right: 10px;
    z-index: 1;
    transform: scale(3);
} */

/* Filter UI Styling */
.filter-container {
	display: flex;
	justify-content: center;
	gap: 6px;
    /* margin: 30px; */
    font-family: var(--font-heading);
    color: var(--text-color);

    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--bg-color); /* ensure it doesn’t look transparent */
    padding: 1rem 0;
}
.filter-button {
	background: none;
	border: 1px solid var(--text-color);
	padding: 8px 16px;
	border-radius: 20px;
	cursor: pointer;
}
.filter-button.active {
    background-color: var(--text-color);
    color: #fff;
}

/* Grid styling */
#grid {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* gap: 20px; */
	padding: 20px;
	justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
}
.card {
	position: relative;
	/* width: 400px;
	height: 400px; */
    width: 100%;
    height: auto;
    min-height: 400px;
	border-radius: var(--radius);
	overflow: hidden;
	cursor: pointer;
    border: 0.8px solid var(--accent);
}
.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--overlay-bg);
    opacity: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: opacity 0.3s ease-in-out;
	padding: 60px;
}
.card:hover .overlay {
	opacity: 0;
}
.overlay h3 {
	font-size: 24px;
    font-weight: 800;
    /* text-align: left; */
    color: var(--text-color);
    font-family: var(--font-body);
}


/* scroll and sticky */
.sticky-image {
    display: none;
    position: static; 
    width: 200px; 
    height: auto;
    z-index: 2000; 
    pointer-events: none; 
}

.sticky {
    display: block;
    position: fixed; 
}

#third.sticky {
    top: 0px;
    right: 0px;
    transform: rotate(-120deg) scale(1.4);
}

#fourth.sticky {
    bottom: 80px;
    left: 80px;
    transform: rotate(-30deg) scale(2.8);
} 




/* Footer styling */
footer p{
    margin: 160px 0px -200px 0px;
	/* padding: 20px; */
    font-size: 4em;
	line-height: 0.8;
	font-weight: 800;
	font-family: var(--font-heading);
    color: var(--text-color);
    text-align: right;
    z-index: 2000;
    position: relative;
    border-top: 1px solid var(--accent);
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 3000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(224, 226, 241, 0.6);
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #F8FAFF;
    padding: 24px;
    border-radius: var(--radius);
    border: 0.8px solid var(--accent);
    width: var(--modal-width); /* Fixed modal width */
    height: var(--modal-height); /* Fixed modal height */
    display: flex;
    /* box-shadow: 0px 10px 30px #E0E2F1; */
    position: relative;
}

/* Close button */
.close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 3em;
    cursor: pointer;
    background: none;
    border: none;
    color: #555;
}

/* Modal Layout */
.modal-body {
    display: flex;
    width: 100%;
    height: 100%;
	/* margin-top: 10px; */
}

/* Media section (left) */
.modal-media {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f8f8f8; */
    border-radius: 8px;
    overflow: hidden;
    /* padding: 20px; */
}

.modal-media img,
.modal-media video {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Text section (right) */
.modal-info {
    flex: 1;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-start;
    text-align: left;
	margin-top: 20px;
}

/* Title and Description */
.modal-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px; 
}

/* Title */
.modal-info h2 {
    font-size: 2.5em;
    line-height: 1;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px; 
    text-align: left;
    font-family: var(--font-body);
}

/* Description */
.modal-info p {
    font-size: 16px;
    color: #555;
    margin-top: 10px; 
    text-align: left;
    font-family: var(--font-body);
}

/* Tag aligns to the bottom */
.media-tag {
    display: inline-block;
    color: var(--text-color);
    padding: 6px 12px;
    margin-bottom: 20px; 
    border-radius: 6px;
    font-size: 14px;
    align-self: flex-start;
    font-family: var(--font-body);
}

/* Modal Link for Embedded & Link */
.modal-info a {
    display: inline-block;
    margin-top: 12px;
    color: var(--accent);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.modal-info a:hover {
    text-decoration: underline;
}

/* new inline style */
.modal-link {
    display: block;
    margin-top: 10px;
    color: var(--accent);
    text-decoration: none;
}
.modal-link:hover {
    text-decoration: underline;
}

/* Responsive Design */
/* tablet */
@media screen and (max-width: 1024px) {
	#grid {
		grid-template-columns: repeat(2, 1fr);
	}
    header {
        padding-top: 150px;
        height: 600px;
    }
    header h1 {
        font-size: 4em;
        margin-bottom: 160px;
    }
    header p {
        font-size: 1em;
    }
    #overview {
        margin-top: 220px;
        margin-bottom: 200px;
        /* 3D elements positioning */
        position: relative;
        /* z-index: 10; */
        /* overflow: hidden; */
    }
    /* Adjust 3D Elements for Tablet */
    #purple {
        width: 35%;
        top: -140px;
        left: -40px;
        transform: scale(3.0) rotate(10deg);
    }
    #pink {
        width: 20%;
        bottom: -200px;
        left: 0px;
        transform: scale(0.7);
    }
    @keyframes floatPink {
        0%, 100% {
            transform: scale(0.8) translateY(0);
        }
        50% {
            transform: scale(0.8) translateY(-20px);
        }
    }
    #silver {
        width: 25%;
        top: -300px;
        right: -30px;
        transform: scale(1.8) rotate(38deg);
    }
    @keyframes floatSilver {
        0%, 100% {
            transform: scale(1.8) rotate(38deg) translateY(0);
        }
        50% {
            transform: scale(1.8) rotate(38deg) translateY(-20px);
        }
    }
    #star {
        width: 10%;
        top: 50px;
        right: 20px;
        transform: scale(0.8);
    }
    @keyframes floatStar {
        0%, 100% {
            transform: scale(0.8) translateY(0);
        }
        50% {
            transform: scale(0.8) translateY(-20px);
        }
    }
    #third.sticky {
        top: -40px;
        right: -20px;
        transform: rotate(-120deg) scale(1.2);
    }
    
    #fourth.sticky {
        bottom: 40px;
        left: 40px;
        transform: rotate(-30deg) scale(2);
    } 
    footer p {
        font-size: 3.2em;
    }
}

/* mobile */
@media screen and (max-width: 768px) {
	#grid {
		grid-template-columns: 1fr;
	}
    header {
        padding-top: 240px;
        height: 700px;
    }
    header h1 {
        font-size: 1.8em;
        /* margin-bottom: 120px; */
    }
    header p {
        font-size: 1em;
    }
    #overview {
        margin-top: 0px;
        margin-bottom: 160px;
        /* 3D elements positioning */
        position: relative;
        /* z-index: 10; */
        /* overflow: hidden; */
    }
    #overview h2 {
        margin-bottom: 20px;
    }
    #overview h3 {
        font-size: 2em;
    }
    #overview-container {
        contain: layout;
        overflow: hidden;
    }
    /* Adjust 3D Elements for Mobile */
    #purple {
        width: 40%;
        top: -80px;
        left: -20px;
        transform: scale(2.8) rotate(10deg);
    }
    #pink {
        width: 25%;
        bottom: -100px;
        left: 0px;
        transform: scale(0.6);
    }
    @keyframes floatPink {
        0%, 100% {
            transform: scale(0.6) translateY(0);
        }
        50% {
            transform: scale(0.6) translateY(-20px);
        }
    }
    #silver {
        width: 30%;
        top: -200px;
        right: -20px;
        transform: scale(1.2) rotate(38deg);
    }
    @keyframes floatSilver {
        0%, 100% {
            transform: scale(1.2) rotate(38deg) translateY(0);
        }
        50% {
            transform: scale(1.2) rotate(38deg) translateY(-20px);
        }
    }
    #star {
        width: 12%;
        top: 20px;
        right: 10px;
        transform: scale(0.4);
    }
    @keyframes floatStar {
        0%, 100% {
            transform: scale(0.4) translateY(0);
        }
        50% {
            transform: scale(0.4) translateY(-20px);
        }
    }

    .filter-container {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        justify-content: flex-start; /* Align buttons to the start */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
        /* padding: 10px; */
        /* gap: 6px; */
    }
    .filter-button {
        flex: 0 0 auto; /* Prevent buttons from shrinking */
        /* margin-right: 0px;  */
        /* padding: 6px 12px;  */
        font-size: 0.8em; /* Smaller font size on mobile */
    }
 /* Stack modal sections vertically */
 .modal-body {
    flex-direction: column;
    height: auto;
}

/* Adjust media section: full width with auto height */
.modal-media {
    width: 100%;
    height: auto;
    margin-bottom: 20px; /* add space between media and info */
}

/* Adjust text section: remove left padding and center align */
.modal-info {
    padding-left: 0;
    padding-top: 16px;
    align-items: center;
    text-align: center;
}

/* Adjust title font size */
.modal-info h2 {
    font-size: 2em;
}

/* Adjust description font size */
.modal-info p {
    font-size: 14px;
}

/* Adjust tag styling */
.media-tag {
    font-size: 12px;
    padding: 4px 8px;
}

/* Adjust link font size */
.modal-info a {
    font-size: 14px;
}
    #third.sticky {
        /* top: 0px;
        right: 0px;
        transform: rotate(-120deg) scale(1.2); */
        display: none;
    }
    
    #fourth.sticky {
        /* bottom: 0px;
        left: 0px;
        transform: rotate(-30deg) scale(1); */
        display: none;
    } 
    footer p {
        font-size: 1.8em;
        margin-bottom: 10px;
    }
}

